body {
  background-color: var(--color-black);
  color: var(--color-light);
  font-size: var(--size-font);
  font-family: arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cloneable {
  padding: var(--container-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.tab-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 37em;
  position: relative;
}

.tab-layout-col {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.tab-container-bottom,
.tab-container-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.tab-layout-heading {
  font-size: 4em;
  font-weight: 500;
  text-align: center;
}

.tab-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 24em;
  position: relative;
}

.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-visual-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
  width: 100%;
  height: 42em;
  max-height: 80vh;
  position: relative;
  overflow: hidden;
}
