@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Dots&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }

  .zen-dots-regular {
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1a1a; /*preguntar imagen de fondo carro*/

    animation: roadMove 3s linear infinite;

  }
html , body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
  }

#main{
    width: 100%;
    height: 85vh;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0vw 10vw;
    z-index: 99;
}

nav a, i{
    font-size: 1.5vw;
    text-decoration: none;
    color: #fff;
}

.logo { width: 30%;

}
.cntr-nav{
    display: flex;
    gap: 3vw;
}

.cntr-nav a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.cntr-nav a:hover {
    text-shadow: 0 0 10px red, 0 0 20px red;
}


nav i{
    font-size: 1.5vw;
}

@keyframes roadMove {
    from { background-position: 0 0; }
    to { background-position: -200% 0; } /* Movimiento a la izquierda */
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url('Assets/road.png') repeat-x;
    background-size: cover;
    animation: roadMove 3s linear infinite;
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .header h1 {
    font-size: 18vw;
    font-family: 'Orbitron', sans-serif;
    color: #ff0000;
    animation: blink 1s infinite;
    text-shadow: 0 0 20px red;
  }  

#can{
    position: absolute;
    width: 35%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#choclate{
    position: absolute;
    top: 8%;
    left: 42%;
    width: 25%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#choclate2{
    position: absolute;
    width: 15%;
    z-index: 3;
    top: 70%;
    right: 35%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#almod{
    top: 10%;
    left: 5%;
    transform: rotate(60deg);
    position: absolute;
    width: 7%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#almod2{
    top: 70%;
    left: 80%;
    transform: rotate(-90deg);
    position: absolute;
    width: 10%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.about{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, #000000, #211e1d, #3b1414);
}

.about-left, .about-right{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.about-left img{
    margin-top: 45vh;
    width: 90%;
    transform: rotateX(50deg);
}

.about-right h1{
    color: #fff;
    font-size: 5vw;
}

.about-right p{
    font-size: 1vw;
    color: #fff;
    width: 80%;
}

.product{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vhvh;
}
.product img{
    width: 100%;
    height: 100%;
}